
@{
    ViewData["Title"] = "Index";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/cairo.css">
    <link rel="stylesheet" href="css/cairo_hotels.css">
    <link rel="stylesheet" href="css/alexandria_thingstodo.css">
    <title>Nile Journey</title>
</head>

<body>

    <div class="nav_container">
        <nav>
            <div class="logo">
                <i class="fa-regular fa-compass" style="color: #ffffff;"></i>
                <a class="logo_up" href="#">Nile Journey</a>
                <ul class="navigation">
                    <li><a href="~/Home/home_success">Home</a></li>
                    <li><a href="~/Home/review">Review</a></li>
                    <li><a href="~/Home/favorites">Favorite</a></li>
                    <li><a href="~/Home/Alex">About Alex</a></li>
                </ul>
            </div>
            <div class="profile">
                <div class="search">
                    <input type="text" name="search">
                    <a class="magnyfing" href="#">
                        <i class="fa-solid fa-magnifying-glass searching"
                           style="color: #ffffff;"></i>
                    </a>
                </div>
                <div class="links">
                    <a href="profile.html"><i class="fa-solid fa-user" style="color: #ffffff;"></i></a>
                    <a href="#" class="log_out">Log out</a>
                </div>
            </div>
        </nav>
    </div>


    <div class="landing">
        <div class="container">
            <h1>Things to do</h1>
        </div>
    </div>

    <div class="hotels">
        <div class="filter">
            <button>Filter<i class="fa-solid fa-filter" style="color: #000000;"></i></button>
        </div>
        <div class="container">
            <div class="cards">
                <div class="card">
                    <img src="img/alex_things_1.png" alt="">
                    <div class="content">
                        <h2>Ancient Roman Amphitheater</h2>
                        <div class="info">
                            <div class="details">
                                <div class="location">
                                    <a href="">
                                        <i class="fa-solid fa-location-dot"
                                           style="color: #000000;"></i>Alexandria
                                    </a>
                                </div>
                                <div class="stars">
                                    <div class="star">
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-regular fa-star" style="color: #080808;"></i>
                                        <i class="fa-regular fa-star" style="color: #080808;"></i>
                                    </div>
                                    <p>(234)</p>
                                </div>
                                <div class="more">
                                    <a href="#">Show More</a>
                                </div>
                            </div>
                            <div class="about">
                                <p>
                                    Built in the 2nd century AD, this Roman amphitheater has 13 semicircular tiers made
                                    of white and gray marble.

                            </div>
                        </div>
                    </div>
                    <a class="favorite" href="#"><i class="fa-regular fa-heart" style="color: #fa0000;"></i></a>
                </div>
                <div class="card">
                    <img src="img/alex_things_2.png" alt="">
                    <div class="content">
                        <h2>Dinner Cruise, Felucca</h2>
                        <div class="info">
                            <div class="details">
                                <div class="location">
                                    <a href="">
                                        <i class="fa-solid fa-location-dot"
                                           style="color: #000000;"></i>Alexandria
                                    </a>
                                </div>
                                <div class="stars">
                                    <div class="star">
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-regular fa-star" style="color: #080808;"></i>
                                        <i class="fa-regular fa-star" style="color: #080808;"></i>
                                    </div>
                                    <p>(234)</p>
                                </div>
                                <div class="more">
                                    <a href="#">Show More</a>
                                </div>
                            </div>
                            <div class="about">
                                <p>
                                    This private featuring a full slate of bucket-list experiences,On the last evening of
                                    the tour, you’ll end your adventure with a scenic dinner cruise
                                </p>
                            </div>
                        </div>
                    </div>
                    <a class="favorite" href="#"><i class="fa-regular fa-heart" style="color: #fa0000;"></i></a>
                </div>
                <div class="card">
                    <img src="img/alex_things_3.png" alt="">
                    <div class="content">
                        <h2>Mirette trip</h2>
                        <div class="info">
                            <div class="details">
                                <div class="location">
                                    <a href="">
                                        <i class="fa-solid fa-location-dot"
                                           style="color: #000000;"></i>Alexandria
                                    </a>
                                </div>
                                <div class="stars">
                                    <div class="star">
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-regular fa-star" style="color: #080808;"></i>
                                        <i class="fa-regular fa-star" style="color: #080808;"></i>
                                    </div>
                                    <p>(234)</p>
                                </div>
                                <div class="more">
                                    <a href="#">Show More</a>
                                </div>
                            </div>
                            <div class="about">
                                <p>
                                    From the moment your tour starts, your guide will give you full attention. Once in
                                    the car, your guide will talk to you about all the things on the way as well as
                                    other aspects of your tour that will interest you.
                                </p>
                            </div>
                        </div>
                    </div>
                    <a class="favorite" href="#"><i class="fa-regular fa-heart" style="color: #fa0000;"></i></a>
                </div>
                <div class="card">
                    <img src="img/alex_things_4.png" alt="">
                    <div class="content">
                        <h2>Mosque of Abu al-Abbas al-Mursi</h2>
                        <div class="info">
                            <div class="details">
                                <div class="location">
                                    <a href="">
                                        <i class="fa-solid fa-location-dot"
                                           style="color: #000000;"></i>Alexandria
                                    </a>
                                </div>
                                <div class="stars">
                                    <div class="star">
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-regular fa-star" style="color: #080808;"></i>
                                        <i class="fa-regular fa-star" style="color: #080808;"></i>
                                    </div>
                                    <p>(234)</p>
                                </div>
                                <div class="more">
                                    <a href="#">Show More</a>
                                </div>
                            </div>
                            <div class="about">
                                <p>
                                    This is a beautiful Egyptian mosque built in the early 1300 located between the
                                    Citadel of Qaitbay and the Library of Alexandria.The complex is divided into two
                                    sections - the first section being the mosque which is open

                                </p>
                            </div>
                        </div>
                    </div>
                    <a class="favorite" href="#"><i class="fa-regular fa-heart" style="color: #fa0000;"></i></a>
                </div>
                <div class="card">
                    <img src="img/alex_things_5.jpg" alt="">
                    <div class="content">
                        <h2>Deir Mar Mina (St. Mina Monastery)</h2>
                        <div class="info">
                            <div class="details">
                                <div class="location">
                                    <a href="">
                                        <i class="fa-solid fa-location-dot"
                                           style="color: #000000;"></i>Alexandria
                                    </a>
                                </div>
                                <div class="stars">
                                    <div class="star">
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-regular fa-star" style="color: #080808;"></i>
                                        <i class="fa-regular fa-star" style="color: #080808;"></i>
                                    </div>
                                    <p>(234)</p>
                                </div>
                                <div class="more">
                                    <a href="#">Show More</a>
                                </div>
                            </div>
                            <div class="about">
                                <p>
                                    A delightful place to visit, very calm and peaceful and very well maintained by the
                                    Coptic Monks that reside there. The monastery is located at a place in the Western
                                    Desert that Saint Mina was buried circa 3rd,

                                </p>
                            </div>
                        </div>
                    </div>
                    <a class="favorite" href="#"><i class="fa-regular fa-heart" style="color: #fa0000;"></i></a>
                </div>
            </div>
        </div>
    </div>

    <section class="subscribe">
        <div class="container">
            <div class="content">
                <p>Subscribe to get all the news!</p>
                <form action="#">
                    <input type="email" name="email" placeholder="Enter your Email">
                    <input type="submit" value="Subscribe">
                </form>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="infos">
                <div class="info">
                    <h2>About Nile Journey</h2>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                    <div class="links">
                        <a href="#"><i class="fa-solid fa-location-dot" style="color: #ffffff;"></i>Cairo, Egypt</a>
                        <a href="#"><i class="fa-solid fa-headset" style="color: #ffffff;"></i>+20012345678</a>
                        <a href="#">
                            <i class="fa-regular fa-envelope"
                               style="color: #ffffff;"></i>info@nilejourney.com
                        </a>
                    </div>
                </div>
                <div class="info">
                    <h2>Explore</h2>
                    <div class="content">
                        <ul class="left">
                            <li><a href="#">About Egypt</a></li>
                            <li><a href="#">Write a Review</a></li>
                            <li><a href="#">Cairo</a></li>
                            <li><a href="#">Alexandria</a></li>
                            <li><a href="#">Aswan</a></li>
                            <li><a href="#">Luxor</a></li>
                        </ul>
                        <ul class="right">
                            <li><a href="#">Siwa</a></li>
                            <li><a href="#">Sharm</a></li>
                            <li><a href="#">Marsa Matrouh</a></li>
                            <li><a href="#">Join</a></li>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Favorites</a></li>
                        </ul>
                    </div>
                </div>
                <div class="info">
                    <h2>Follow Us</h2>
                    <div class="socials">
                        <a href=""><i class="fa-brands fa-facebook" style="color: #ffffff;"></i></a>
                        <a href=""><i class="fa-brands fa-twitter" style="color: #ffffff;"></i></a>
                        <a href=""><i class="fa-brands fa-youtube" style="color: #ffffff;"></i></a>
                        <a href=""><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>
        let nav = document.querySelector(".nav_container");


        window.onscroll = function () { showOverlay() };

        function showOverlay() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                nav.classList.add("active");
            } else {
                nav.classList.remove("active");
            }
        }

        /////////////////////////////////////////////////////////

        let itemClicker = document.querySelectorAll(".transportation .transport .cont > div"),
            transportationContent = document.querySelectorAll(".transportation .transport .content > div");



        itemClicker.forEach((item) => {
            item.addEventListener("click", (e) => {
                e.preventDefault();
                for (let index = 0; index < itemClicker.length; index++) {
                    const element = itemClicker[index];
                    element.classList.remove("active");
                }
                for (let index = 0; index < transportationContent.length; index++) {
                    const content = transportationContent[index];
                    content.classList.remove("active");
                    if (item.getAttribute("data-count") == 1) {
                        transportationContent[0].classList.add("active");
                    }
                    else if (item.getAttribute("data-count") == 2) {
                        transportationContent[1].classList.add("active");
                    }
                    if (item.getAttribute("data-count") == 3) {
                        transportationContent[2].classList.add("active");
                    }
                }
                item.classList.add("active");
            })
        })
    </script>
    <script src="js/cairo.js"></script>

  
</body>

