
@{
    ViewData["Title"] = "Index";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="~/css/cairo.css">
    <link rel="stylesheet" href="~/css/cairo_hotels.css">
    <link rel="stylesheet" href="~/css/cairo_thingstodo.css">
    <title>Nile Journey</title>
</head>

<body>

    <div class="nav_container">
        <nav>
            <div class="logo">
                <i class="fa-regular fa-compass" style="color: #ffffff;"></i>
                <a class="logo_up" href="#">Nile Journey</a>
                <ul class="navigation">
                    <li><a href="~/Home/home_success">Home</a></li>
                    <li><a href="~/Home/review">Review</a></li>
                    <li><a href="~/Home/favorites">Favorite</a></li>
                    <li><a href="~/Home/cairo">About Cairo</a></li>
                </ul>
            </div>
            <div class="profile">
                <div class="search">
                    <input type="text" name="search">
                    <a class="magnyfing" href="#">
                        <i class="fa-solid fa-magnifying-glass searching"
                           style="color: #ffffff;"></i>
                    </a>
                </div>
                <div class="links">
                    <a href="profile.html"><i class="fa-solid fa-user" style="color: #ffffff;"></i></a>
                    <a href="#" class="log_out">Log out</a>
                </div>
            </div>
        </nav>
    </div>


    <div class="landing">
        <div class="container">
            <h1>Things to do</h1>
        </div>
    </div>

    <div class="hotels">
        <div class="filter">
            <button>Filter<i class="fa-solid fa-filter" style="color: #000000;"></i></button>
        </div>
        <div class="container">
            <div class="cards">
                <div class="card">
                    <img src="img/things_1.jpeg" alt="">
                    <div class="content">
                        <h2>Hiking & Camping</h2>
                        <div class="info">
                            <div class="details">
                                <div class="location">
                                    <a href="">
                                        <i class="fa-solid fa-location-dot" style="color: #000000;"></i>Wadi
                                        Degla, Maadi
                                    </a>
                                </div>
                                <div class="stars">
                                    <div class="star">
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-regular fa-star" style="color: #080808;"></i>
                                        <i class="fa-regular fa-star" style="color: #080808;"></i>
                                    </div>
                                    <p>(234)</p>
                                </div>
                                <div class="more">
                                    <a href="#">Show More</a>
                                </div>
                            </div>
                            <div class="about">
                                <p>
                                    Located only 15 minutes from the Cairo suburb of Maadi, this rugged valley contains a
                                    wide variety of animal life including deer, hares, red foxes, reptiles, Egyptian
                                    turtles, twelve species of resident and migrant birds and 64 kinds of plants.

                                </p>
                            </div>
                        </div>
                    </div>
                    <a class="favorite" href="#"><i class="fa-regular fa-heart" style="color: #fa0000;"></i></a>
                </div>
                <div class="card">
                    <img src="img/things_2.jpeg" alt="">
                    <div class="content">
                        <h2>DIOR Men’s pre-fall collection </h2>
                        <div class="info">
                            <div class="details">
                                <div class="location">
                                    <a href="">
                                        <i class="fa-solid fa-location-dot" style="color: #000000;"></i>the Great
                                        Pyramid of Giza
                                    </a>
                                </div>
                                <div class="stars">
                                    <div class="star">
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-regular fa-star" style="color: #080808;"></i>
                                        <i class="fa-regular fa-star" style="color: #080808;"></i>
                                    </div>
                                    <p>(234)</p>
                                </div>
                                <div class="more">
                                    <a href="#">Show More</a>
                                </div>
                            </div>
                            <div class="about">
                                <p>
                                    The men’s pre-fall collection is scheduled to be unveiled on Jun. against the
                                    backdrop of the pyramids of Giza near Cairo, the brand said in a statement provided
                                    exclusively to WWD. “Designed by Kim Jones, the celestial collection celebrates a
                                    lifelong passion for travel,” it added.
                                </p>
                            </div>
                        </div>
                    </div>
                    <a class="favorite" href="#"><i class="fa-regular fa-heart" style="color: #fa0000;"></i></a>
                </div>
                <div class="card">
                    <img src="img/things_3.jpeg" alt="">
                    <div class="content">
                        <h2>National Museum of Egyptian Civilization NEMC</h2>
                        <div class="info">
                            <div class="details">
                                <div class="location">
                                    <a href="">
                                        <i class="fa-solid fa-location-dot" style="color: #000000;"></i>Fustat,
                                        now part of Cairo, Egypt.
                                    </a>
                                </div>
                                <div class="stars">
                                    <div class="star">
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-regular fa-star" style="color: #080808;"></i>
                                        <i class="fa-regular fa-star" style="color: #080808;"></i>
                                    </div>
                                    <p>(234)</p>
                                </div>
                                <div class="more">
                                    <a href="#">Show More</a>
                                </div>
                            </div>
                            <div class="about">
                                <p>
                                    The permanent collection is divided into two separate regions; one chronological and
                                    the other is thematic. The chronological areas are the following: Archaic,
                                    Pharaonic, Greco-Roman, Coptic, Medieval, Is
                                </p>
                            </div>
                        </div>
                    </div>
                    <a class="favorite" href="#"><i class="fa-regular fa-heart" style="color: #fa0000;"></i></a>
                </div>
                <div class="card">
                    <img src="img/things_4.jpeg" alt="">
                    <div class="content">
                        <h2>Overnight Luxor Tours from Cairo</h2>
                        <div class="info">
                            <div class="details">
                                <div class="location">
                                    <a href=""><i class="fa-solid fa-location-dot" style="color: #000000;"></i>cairo</a>
                                </div>
                                <div class="stars">
                                    <div class="star">
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-regular fa-star" style="color: #080808;"></i>
                                        <i class="fa-regular fa-star" style="color: #080808;"></i>
                                    </div>
                                    <p>(234)</p>
                                </div>
                                <div class="more">
                                    <a href="#">Show More</a>
                                </div>
                            </div>
                            <div class="about">
                                <p>
                                    While in Cairo, don't miss the chance to visit the top attractions of the open-air
                                    museum city: Luxor in 2 day tours. Take an overnight train and enjoy the main
                                    highlights of Luxor the Valley of the Kings and so much more with an Egyptology
                                    guide. Experience the lifetime trip of the

                                </p>
                            </div>
                        </div>
                    </div>
                    <a class="favorite" href="#"><i class="fa-regular fa-heart" style="color: #fa0000;"></i></a>
                </div>
                <div class="card">
                    <img src="img/things_5.jpeg" alt="">
                    <div class="content">
                        <h2>3-Day Nile River Cruise</h2>
                        <div class="info">
                            <div class="details">
                                <div class="location">
                                    <a href="">
                                        <i class="fa-solid fa-location-dot" style="color: #000000;"></i>starts
                                        from cairo
                                    </a>
                                </div>
                                <div class="stars">
                                    <div class="star">
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-regular fa-star" style="color: #080808;"></i>
                                        <i class="fa-regular fa-star" style="color: #080808;"></i>
                                    </div>
                                    <p>(234)</p>
                                </div>
                                <div class="more">
                                    <a href="#">Show More</a>
                                </div>
                            </div>
                            <div class="about">
                                <p>
                                    Escape to the adventure of Egypt, the treasures of King Tutankhamun, the Great
                                    Pyramids of Giza. Embark on a three-day Nile River cruise and explore the Karnak and
                                    Luxor Temples, the Valley of the Kings and Queens, the Temple of Horus, and much
                                    more.
                                </p>
                            </div>
                        </div>
                    </div>
                    <a class="favorite" href="#"><i class="fa-regular fa-heart" style="color: #fa0000;"></i></a>
                </div>
            </div>
        </div>
    </div>

    <section class="subscribe">
        <div class="container">
            <div class="content">
                <p>Subscribe to get all the news!</p>
                <form action="#">
                    <input type="email" name="email" placeholder="Enter your Email">
                    <input type="submit" value="Subscribe">
                </form>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="infos">
                <div class="info">
                    <h2>About Nile Journey</h2>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                    <div class="links">
                        <a href="#"><i class="fa-solid fa-location-dot" style="color: #ffffff;"></i>Cairo, Egypt</a>
                        <a href="#"><i class="fa-solid fa-headset" style="color: #ffffff;"></i>+20012345678</a>
                        <a href="#">
                            <i class="fa-regular fa-envelope"
                               style="color: #ffffff;"></i>info@nilejourney.com
                        </a>
                    </div>
                </div>
                <div class="info">
                    <h2>Explore</h2>
                    <div class="content">
                        <ul class="left">
                            <li><a href="#">About Egypt</a></li>
                            <li><a href="#">Write a Review</a></li>
                            <li><a href="#">Cairo</a></li>
                            <li><a href="#">Alexandria</a></li>
                            <li><a href="#">Aswan</a></li>
                            <li><a href="#">Luxor</a></li>
                        </ul>
                        <ul class="right">
                            <li><a href="#">Siwa</a></li>
                            <li><a href="#">Sharm</a></li>
                            <li><a href="#">Marsa Matrouh</a></li>
                            <li><a href="#">Join</a></li>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Favorites</a></li>
                        </ul>
                    </div>
                </div>
                <div class="info">
                    <h2>Follow Us</h2>
                    <div class="socials">
                        <a href=""><i class="fa-brands fa-facebook" style="color: #ffffff;"></i></a>
                        <a href=""><i class="fa-brands fa-twitter" style="color: #ffffff;"></i></a>
                        <a href=""><i class="fa-brands fa-youtube" style="color: #ffffff;"></i></a>
                        <a href=""><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="js/cairo.js"></script>
</body>

