
@{
    ViewData["Title"] = "Index";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="~/css/cairo.css">
    <link rel="stylesheet" href="~/css/cairo_hotels.css">
    <title>Nile Journey</title>
</head>

<body>

    <div class="nav_container">
        <nav>
            <div class="logo">
                <i class="fa-regular fa-compass" style="color: #ffffff;"></i>
                <a class="logo_up" href="#">Nile Journey</a>
                <ul class="navigation">
                    <li><a href="~/Home/home_success">Home</a></li>
                    <li><a href="~/Home/review">Review</a></li>
                    <li><a href="~/Home/favorites">Favorite</a></li>
                    <li><a href="~/Home/cairo">About Cairo</a></li>
                </ul>
            </div>
            <div class="profile">
                <div class="search">
                    <input type="text" name="search">
                    <a class="magnyfing" href="#">
                        <i class="fa-solid fa-magnifying-glass searching"
                           style="color: #ffffff;"></i>
                    </a>
                </div>
                <div class="links">
                    <a href="profile.html"><i class="fa-solid fa-user" style="color: #ffffff;"></i></a>
                    <a href="#" class="log_out">Log out</a>
                </div>
            </div>
        </nav>
    </div>


    <div class="landing">
        <div class="container">
            <h1>Hotels</h1>
        </div>
    </div>

    <div class="hotels">
        <div class="filter">
            <button>Filter<i class="fa-solid fa-filter" style="color: #000000;"></i></button>
        </div>
        <div class="container">
            <div class="cards">
                <div class="card">
                    <img src="~/img/royal-maxim-palace-kempinski (1).jpg" alt="">
                    <div class="content">
                        <h2>Kempinski Nile Hotel</h2>
                        <div class="info">
                            <div class="details">
                                <div class="location">
                                    <a href="">
                                        <i class="fa-solid fa-location-dot" style="color: #000000;"></i>Cairo,
                                        Egypt
                                    </a>
                                </div>
                                <div class="stars">
                                    <div class="star">
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-regular fa-star" style="color: #080808;"></i>
                                        <i class="fa-regular fa-star" style="color: #080808;"></i>
                                    </div>
                                    <p>(234)</p>
                                </div>
                                <div class="more">
                                    <a href="">Show More</a>
                                </div>
                            </div>
                            <div class="about">
                                <p>
                                    Let us welcome you to Royal Maxim Palace Kempinski, a haven of tranquillity in the
                                    heart of New Cairo. The 5 star hotel features the finest facilities coupled with the
                                    highest levels of service.
                            </div>
                        </div>
                    </div>
                    <a class="favorite" href="#"><i class="fa-regular fa-heart" style="color: #fa0000;"></i></a>
                </div>
                <div class="card">
                    <img src="~/img/steigenberger-el-tahir.jpg" alt="">
                    <div class="content">
                        <h2>Steigenberger Hotel El Tahrir</h2>
                        <div class="info">
                            <div class="details">
                                <div class="location">
                                    <a href="">
                                        <i class="fa-solid fa-location-dot" style="color: #000000;"></i>2 Kasr El
                                        Nile St Tahrir Square
                                        ,Cairo Egypt
                                    </a>
                                </div>
                                <div class="stars">
                                    <div class="star">
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-regular fa-star" style="color: #080808;"></i>
                                        <i class="fa-regular fa-star" style="color: #080808;"></i>
                                    </div>
                                    <p>(234)</p>
                                </div>
                                <div class="more">
                                    <a href="#">Show More</a>
                                </div>
                            </div>
                            <div class="about">
                                <p>
                                    is a luxury hotel located in the heart of Cairo, Egypt. It features 295 rooms and
                                    suites, all of which are elegantly furnished and equipped with modern amenities such
                                    as free Wi-Fi, flat-screen TVs, and minibars. The hotel also offers a variety of
                                    dining options, including a roo
                                </p>
                            </div>
                        </div>
                    </div>
                    <a class="favorite" href="#"><i class="fa-regular fa-heart" style="color: #fa0000;"></i></a>
                </div>
                <div class="card">
                    <img src="~/img/dusit-thani-lakeview.jpg" alt="">
                    <div class="content">
                        <h2>Dusit Thani LakeView</h2>
                        <div class="info">
                            <div class="details">
                                <div class="location">
                                    <a href="">
                                        <i class="fa-solid fa-location-dot" style="color: #000000;"></i>El
                                        Tesseen Street City Centre, Fifth Settlement,
                                        New Cairo, Cairo Egypt
                                    </a>
                                </div>
                                <div class="stars">
                                    <div class="star">
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-regular fa-star" style="color: #080808;"></i>
                                        <i class="fa-regular fa-star" style="color: #080808;"></i>
                                    </div>
                                    <p>(234)</p>
                                </div>
                                <div class="more">
                                    <a href="#">Show More</a>
                                </div>
                            </div>
                            <div class="about">
                                <p>
                                    s a five-star luxury hotel located in the New Cairo district of Cairo, Egypt. It
                                    features 449 guest rooms and suites, all of which are elegantly furnished and
                                    equipped with modern amenities such as free Wi-Fi, flat-screen TVs,
                                </p>
                            </div>
                        </div>
                    </div>
                    <a class="favorite" href="#"><i class="fa-regular fa-heart" style="color: #fa0000;"></i></a>
                </div>
                <div class="card">
                    <img src="~/img/lobby.jpg" alt="">
                    <div class="content">
                        <h2>AlMasa Hotel</h2>
                        <div class="info">
                            <div class="details">
                                <div class="location">
                                    <a href="">
                                        <i class="fa-solid fa-location-dot" style="color: #000000;"></i>Dr Abd Al
                                        Aziz Al Shennawy St,
                                        Cairo Egypt
                                    </a>
                                </div>
                                <div class="stars">
                                    <div class="star">
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-regular fa-star" style="color: #080808;"></i>
                                        <i class="fa-regular fa-star" style="color: #080808;"></i>
                                    </div>
                                    <p>(234)</p>
                                </div>
                                <div class="more">
                                    <a href="#">Show More</a>
                                </div>
                            </div>
                            <div class="about">
                                <p>
                                    is a five-star hotel located in the New Administrative Capital of Egypt, which is a
                                    planned city that is currently under construction to become the new capital of
                                    Egypt. The hotel features 188 rooms and suites,
                                </p>
                            </div>
                        </div>
                    </div>
                    <a class="favorite" href="#"><i class="fa-regular fa-heart" style="color: #fa0000;"></i></a>
                </div>
                <div class="card">
                    <img src="~/img/le-passage-cairo.jpg" alt="">
                    <div class="content">
                        <h2>Le Passage Cairo Hotel & Casino</h2>
                        <div class="info">
                            <div class="details">
                                <div class="location">
                                    <a href="">
                                        <i class="fa-solid fa-location-dot" style="color: #000000;"></i>Cairo
                                        International Airport Road El Horreya-Heliopolis,
                                        Cairo Egypt
                                    </a>
                                </div>
                                <div class="stars">
                                    <div class="star">
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-solid fa-star" style="color: #080808;"></i>
                                        <i class="fa-regular fa-star" style="color: #080808;"></i>
                                        <i class="fa-regular fa-star" style="color: #080808;"></i>
                                    </div>
                                    <p>(234)</p>
                                </div>
                                <div class="more">
                                    <a href="#">Show More</a>
                                </div>
                            </div>
                            <div class="about">
                                <p>
                                    is a five-star hotel located near the Cairo International Airport, in the Heliopolis
                                    district of Cairo, Egypt. The hotel features 194 rooms and suites, all of which are
                                    elegantly furnished and equipped with mod
                                </p>
                            </div>
                        </div>
                    </div>
                    <a class="favorite" href="#"><i class="fa-regular fa-heart" style="color: #fa0000;"></i></a>
                </div>
            </div>
        </div>
    </div>

    <section class="subscribe">
        <div class="container">
            <div class="content">
                <p>Subscribe to get all the news!</p>
                <form action="#">
                    <input type="email" name="email" placeholder="Enter your Email">
                    <input type="submit" value="Subscribe">
                </form>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="infos">
                <div class="info">
                    <h2>About Nile Journey</h2>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                    <div class="links">
                        <a href="#"><i class="fa-solid fa-location-dot" style="color: #ffffff;"></i>Cairo, Egypt</a>
                        <a href="#"><i class="fa-solid fa-headset" style="color: #ffffff;"></i>+20012345678</a>
                        <a href="#">
                            <i class="fa-regular fa-envelope"
                               style="color: #ffffff;"></i>info@nilejourney.com
                        </a>
                    </div>
                </div>
                <div class="info">
                    <h2>Explore</h2>
                    <div class="content">
                        <ul class="left">
                            <li><a href="#">About Egypt</a></li>
                            <li><a href="#">Write a Review</a></li>
                            <li><a href="#">Cairo</a></li>
                            <li><a href="#">Alexandria</a></li>
                            <li><a href="#">Aswan</a></li>
                            <li><a href="#">Luxor</a></li>
                        </ul>
                        <ul class="right">
                            <li><a href="#">Siwa</a></li>
                            <li><a href="#">Sharm</a></li>
                            <li><a href="#">Marsa Matrouh</a></li>
                            <li><a href="#">Join</a></li>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Favorites</a></li>
                        </ul>
                    </div>
                </div>
                <div class="info">
                    <h2>Follow Us</h2>
                    <div class="socials">
                        <a href=""><i class="fa-brands fa-facebook" style="color: #ffffff;"></i></a>
                        <a href=""><i class="fa-brands fa-twitter" style="color: #ffffff;"></i></a>
                        <a href=""><i class="fa-brands fa-youtube" style="color: #ffffff;"></i></a>
                        <a href=""><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script>
        let nav = document.querySelector(".nav_container");


        window.onscroll = function () { showOverlay() };

        function showOverlay() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                nav.classList.add("active");
            } else {
                nav.classList.remove("active");
            }
        }

        /////////////////////////////////////////////////////////

        let itemClicker = document.querySelectorAll(".transportation .transport .cont > div"),
            transportationContent = document.querySelectorAll(".transportation .transport .content > div");



        itemClicker.forEach((item) => {
            item.addEventListener("click", (e) => {
                e.preventDefault();
                for (let index = 0; index < itemClicker.length; index++) {
                    const element = itemClicker[index];
                    element.classList.remove("active");
                }
                for (let index = 0; index < transportationContent.length; index++) {
                    const content = transportationContent[index];
                    content.classList.remove("active");
                    if (item.getAttribute("data-count") == 1) {
                        transportationContent[0].classList.add("active");
                    }
                    else if (item.getAttribute("data-count") == 2) {
                        transportationContent[1].classList.add("active");
                    }
                    if (item.getAttribute("data-count") == 3) {
                        transportationContent[2].classList.add("active");
                    }
                }
                item.classList.add("active");
            })
        })
    </script>


    <script src="js/cairo.js"></script>
</body>

