
@{
    ViewData["Title"] = "Index";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/privacy.css">
    <title>Nile Journey</title>
</head>

<body>

    <div class="profile">
        <div class="content">
            <nav>
                <div class="logo">
                    <i class="fa-regular fa-compass" style="color: #ffffff;"></i>
                    <a class="logo_up" href="#">Nile Journey</a>
                    <ul class="navigation">
                        <li><a asp-controller="home_sucsses" asp-action="Index">Home</a></li>
                        <li><a asp-controller="reviews" asp-action="Index">Review</a></li>
                        <li><a asp-controller="favorites" asp-action="Index">Favorite</a></li>
                        <li><a asp-controller="about" asp-action="Index">About Egypt</a></li>
                    </ul>
                </div>
            </nav>
            <div class="containing">
                <h1 class="greeting">Privacy</h1>
                <div class="container">
                    <div class="info_card">
                        <div class="heading">
                            <h2>My Account</h2>
                        </div>
                        <div class="reviews">
                            <div class="toggler">
                                <h3>Reviews</h3>
                                <div class="toggles">
                                    <i class="fa-solid fa-toggle-off off" style="color: #ffffff;"></i>
                                    <i class="fa-solid fa-toggle-on on" style="color: #ffffff;"></i>
                                </div>
                            </div>
                            <p>Allow Users to see your reviews in all places</p>
                        </div>
                        <div class="change_pass">
                            <h3>Change Password</h3>
                            <div class="content">
                                <form action="#">
                                    <div class="old_pass">
                                        <label for="old">Old Password</label>
                                        <input type="password" name="old" id="old">
                                    </div>
                                    <div class="new_pass">
                                        <label for="new">New Password</label>
                                        <input type="password" name="new" id="new">
                                        <i class="fa-solid fa-lock closed" style="color: #ffffff;"></i>
                                        <i class="fa-solid fa-lock-open open" style="color: #ffffff;"></i>
                                    </div>
                                    <div class="conf_pass">
                                        <label for="conf">Confirm Password</label>
                                        <input type="password" name="conf" id="conf">
                                        <i class="fa-solid fa-lock closed" style="color: #ffffff;"></i>
                                        <i class="fa-solid fa-lock-open open" style="color: #ffffff;"></i>
                                    </div>
                                    <div class="submitting">
                                        <input type="submit" value="Save Changes">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="profile_card">
                        <div class="header">
                            <i class="fa-solid fa-user" style="color: #ffffff;"></i>
                            <h2>Menna Ali</h2>
                        </div>
                        <div class="content">
                            <ul>
                                <li>
                                    <i class="fa-regular fa-pen-to-square" style="color: #ffffff;"></i><a href="profile.html">
                                        My
                                        Account
                                    </a>
                                </li>
                                <li>
                                    <i class="fa-regular fa-map" style="color: #ffffff;"></i><a href="visits.html">
                                        Your
                                        Visits
                                    </a>
                                </li>
                                <li>
                                    <i class="fa-solid fa-lock" style="color: #ffffff;"></i><a href="#">Privacy</a>
                                </li>
                            </ul>
                        </div>
                        <button class="log_out">Log Out</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="js/profile.js"></script>
</body>

